.splash {
  max-width: 1200px;
  min-height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.callout {
  flex: 4;
  padding: 8px 16px;
}

.cards {
  padding-top: 24px;
  min-width: 300px;
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards > * {
  position: relative;
  height: 20vh;
  min-height: 100px;
  width: 8vw;
  min-width: 150px;
  padding-left: 4px;
  border: 4px solid #cd2d79;
  border-radius: 8px;
  background-color: #ffffff;
  color: #cd2d79;
  font-size: 1.4em;
}

.cards > *:nth-child(1) {
  margin-top: -10vh;
  top: 8vh;
  left: -12vw;
  transform: rotate(20deg);
  animation: animateCard1 1.4s ease 0.8s forwards;
}

@keyframes animateCard1 {
  to {
    top: 16vh;
    left: -4vw;
    transform: rotate(0);
  }
}

.cards > *:nth-child(2) {
  top: -8vh;
  left: 6vw;
  transform: rotate(-10deg);
  animation: animateCard2 1.1s ease 1.1s forwards;
}

@keyframes animateCard2 {
  to {
    top: 0;
    left: 0;
    transform: rotate(0);
  }
}

.cards > *:nth-child(3) {
  margin-bottom: -10vh;
  top: -12vh;
  left: -4vw;
  transform: rotate(40deg);
  animation: animateCard3 1s ease 1.2s forwards;
}

@keyframes animateCard3 {
  to {
    top: -16vh;
    left: 4vw;
    transform: rotate(0);
  }
}
