[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "~=1.4.3"
pylint = "~=2.3.1"
pylint-django = "~=2.0.6"
selenium = "~=3.141.0"

[packages]
django = "~=2.1.8"
psycopg2 = "~=2.7.5"
gunicorn = "~=19.9.0"

[requires]
python_version = "3.6"

[scripts]
db-init = "$SHELL -c \"echo $POSTGRES_PASSWORD > pwfile && initdb -E UTF_8 -D data -U $POSTGRES_USER --pwfile=pwfile && rm pwfile\""
db-start = "pg_ctl -D data -l database.log start"
db-stop = "pg_ctl -D data stop"
db-migrate = "python mellophone/manage.py migrate"
server = "$SHELL -c \"pipenv run db-migrate && python mellophone/manage.py runserver\""
lint = "pylint mellophone/backend"
test-unit="python mellophone/manage.py test backend"
test-e2e="python mellophone/e2e.py"
