[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=mellophone
Group=www-data
WorkingDirectory=/home/mellophone/production/mellophone
ExecStart=/home/mellophone/.local/bin/pipenv run gunicorn \
    --access-logfile - \
    --workers 3 \
    --bind unix:/run/gunicorn.sock \
    mellophone.wsgi:application

[Install]
WantedBy=multi-user.target
