[Unit]
Description=Restarts Mellophone, performing any necessary work (dependency updates, database migrations)
ConditionPathExists=/home/mellophone/latest-deployment

[Service]
User=mellophone
WorkingDirectory=/home/mellophone
ExecStartPre=+/bin/systemctl stop nginx gunicorn
ExecStart=/bin/sh update-mellophone.sh
ExecStartPost=+/bin/systemctl start nginx gunicorn

[Install]
WantedBy=multi-user.target
